In [ ]:

- title: Pandas Useful Tricks
- author: Alex
- date: 2022-02-20
- category: python
- tags: jupyter

### Introduction

Here I want to share some useful pandas methods. The input data comes from module pydataset that comes with a bunch of popular dataset.

In [4]:
import pandas as pd
from pydataset import data

### Create Contingency Table

Columns representing Hair , Eye color used to make a cross-table. Going from HairEyeColor table individuals to group counts done as follows.

In [8]:

_input= data('HairEyeColor')

contingency_ds= pd.crosstab(_input["Hair"], _input["Eye"])

contingency_ds

Eye    Blue  Brown  Green  Hazel
Hair
Black     2      2      2      2
Blond     2      2      2      2
Brown     2      2      2      2
Red       2      2      2      2

### Slicing
When input looks like that:

In [22]:
_input.head(7)

    Hair    Eye   Sex  Freq
1  Black  Brown  Male    32
2  Brown  Brown  Male    53
3    Red  Brown  Male    10
4  Blond  Brown  Male     3
5  Black   Blue  Male    11
6  Brown   Blue  Male    50
7    Red   Blue  Male    10

To get a subpart of the df is as simple as:

In [25]:
df_sliced = _input.iloc[0:5, 0:2] # rows then columns indices passed to the iloc
df_sliced

    Hair    Eye
1  Black  Brown
2  Brown  Brown
3    Red  Brown
4  Blond  Brown
5  Black   Blue

### Transpose
To switch rows by columns you call method `.T` on `df`.

In [32]:
df_T= df_sliced.T
df_T

          1      2      3      4      5
Hair  Black  Brown    Red  Blond  Black
Eye   Brown  Brown  Brown  Brown   Blue

### Pivot Table
Pivot is useful to make a report on relevant features, when you get counts of relevant values groupped by selected columns.

In [34]:
_input.head()

    Hair    Eye   Sex  Freq
1  Black  Brown  Male    32
2  Brown  Brown  Male    53
3    Red  Brown  Male    10
4  Blond  Brown  Male     3
5  Black   Blue  Male    11

In [35]:
pivot = _input.pivot_table(index='Hair', columns=['Sex','Eye'], values='Freq')

pivot

Sex   Female                   Male
Eye     Blue Brown Green Hazel Blue Brown Green Hazel
Hair
Black      9    36     2     5   11    32     3    10
Blond     64     4     8     5   30     3     8     5
Brown     34    66    14    29   50    53    15    25
Red        7    16     7     7   10    10     7     7

In [36]:
pivot2 = _input.pivot_table(index='Hair', columns=['Sex'], values='Freq')

pivot2

Sex    Female   Male
Hair
Black   13.00  14.00
Blond   20.25  11.50
Brown   35.75  35.75
Red      9.25   8.50

### apply() a Custom Function