- title: Some SQL commands I use as a template.
- author: Alex
- date: 2023-01-02
- category: sql

### Joins 
Here is an example of how you can use a JOIN clause in SQL to join a table called orders with 6 other tables:

```sql
SELECT orders.*, customers.*, products.*, shippers.*, suppliers.*, categories.*
FROM orders
JOIN customers ON orders.customer_id = customers.customer_id
JOIN products ON orders.product_id = products.product_id
JOIN shippers ON orders.shipper_id = shippers.shipper_id
JOIN suppliers ON products.supplier_id = suppliers.supplier_id
JOIN categories ON products.category_id = categories.category_id
```

This query will select all columns from the orders table, as well as all columns from the customers, products, shippers, suppliers, and categories tables. The JOIN clauses specify how the tables are related to each other. In this example, the orders table is related to the customers table by the customer_id column, the orders table is related to the products table by the product_id column, and so on.